<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <RollingFile name="DESPAT"
                     fileName="${project.log.directory}/output.log"
                     filePattern="${project.log.directory}/$${date:yyyy-MM}/archive%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [Thread: %t] %c{1} %5p : %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- Rollover on strartup, daily and when file reaches 10 megabytes -->
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="2 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="DESPAT"/>
        </Root>

        <Logger name="com.nc.ocp.despat" level="trace"/>
    </Loggers>
</Configuration>
